

<h1> <%= @pet.name  %> </h1>

<ul>
  <li>Address : <%= @pet.address %> </li>
  <li>Found on : <%= @pet.found_on %> </li>
</ul>



<%= link_to "Back to all pets", pets_path %>



<%= link_to "Update this pet", edit_pet_path(@pet) %>

<%= link_to "Delete this pete", pet_path(@pet), method: :delete ,data: {confirm: "Are you sure?"}  %>
